body {
    background-color: #f9f9f9;
}


.bs-example{
    margin-top: 20px;
}

.header {
    position: absolute;
    background-image: url("ifi-lan2.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 556px;
    display: block;
    position: relative;
}

.leadertext {
    font-family: 'Roboto';
    font-weight: 300; !important
}

.headertext {
    margin-top: 145px;
    font-family: 'Roboto';
    font-weight: 100; !important
    z-index:9999;
    color: #fff; 
    text-align: center;
}

.categories {
    width: 100%;
    text-align: center; 
}

.categories .finaldiv {
    padding: 30px; 
}

.categories .category {
    margin: 10px;
    width: 18.3%;
    /*width: 230px;*/
    height: 230px;
    border-radius: 5px;
    background-color: #FFF;
    color: #679DB8;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.1s ease-in 0s;
    -moz-transition: box-shadow 0.1s ease-in 0s;
    transition: box-shadow 0.1s ease-in 0s;
    padding-left: 5px;
    padding-right: 5px;
}

.categories .category.final {
    width: 60%;
    margin: 0px;
    margin-bottom: 25px;
}

.categories .category:hover {
    box-shadow: 0px 2px 6px #777;
}

.categories .category:hover .icon {
    color: #D63672; 
}

.categories .category:hover .title {
    color: #264657; 
}

.categories .category .top {
    height: 190px; 
}

.categories .category .icon {
    font-size: 50px;
    padding-top: 25px;
    -webkit-transition: color 0.1s ease-in 0s;
    -moz-transition: color 0.1s ease-in 0s;
    transition: color 0.1s ease-in 0s; 
}

.categories .category .title {
    -webkit-transition: color 0.1s ease-in 0s;
    -moz-transition: color 0.1s ease-in 0s;
    transition: color 0.1s ease-in 0s; 
}

.categories .category .title.web {
    font-size: 34px;
    padding-top: 10px; 
}

.categories .category .title.re {
    font-size: 28px;
    padding-top: 10px;
    font-family: "Roboto", arial, helvetica, clean, sans-serif; 
    font-weight: 300;
}

h1 {
    font-family: "Roboto", arial, helvetica, clean, sans-serif; 
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    font-variant: small-caps;
}

h3 {
    font-family: "Roboto", arial, helvetica, clean, sans-serif; 
    font-weight: 100;
    font-size: 45px;
    text-align: center;
}

.highscore {
    margin-left: 20%;
    width: 60%;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: #264657;
    font-family: "Roboto", arial, helvetica, clean, sans-serif;
    -webkit-transition: box-shadow 0.1s ease-in 0s;
    -moz-transition: box-shadow 0.1s ease-in 0s;
    transition: box-shadow 0.1s ease-in 0s;
}

table:hover {
    box-shadow: 0px 1px 5px #444; 
}

table td {
    padding: 10px; 
}
table td:nth-child(2) {
    text-align: right; 
}
table td:nth-child(3) {
    color: #D63672; 
}

table td:nth-child(4) {
    text-align: center;
    font-family: "Roboto-light", arial, helvetica, clean, sans-serif;
    width: 20%; 
}
table tr:nth-child(1) td {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 20px; 
}
table tr:nth-child(odd) {
    background-color: #d2dbdf; 
}
table tr:nth-child(odd):hover {
    background-color: #c6d1d7; 
}
table tr:nth-child(even) {
    background-color: #E1E7EA; 
}
table tr:nth-child(even):hover {
    background-color: #eaeef0; 
}
