{% extends "layout.html" %}
{% block content%}
<div class="col1">
    <div class="bs-example">
        <div id='crypto'>

            <div class="bs-example">
                <h3>Kjeder du deg? Ta en skål</h3>
                <pre>
                    Skål med axelbs og få et token \o/
                    PS. Skåling med noe annet enn øl gir deg et token med minuspoeng
                </pre>
                <form action={{ url_for('render_afk')}} method="post">
                    Token: <input type="text" name="token"><input type="hidden" name="challenge" value="0"><input type="submit" value="Submit">
                </form>
            </div>

            <div class="bs-example">
                <h3>Hidden in plain sight 1</h3>
                <pre>
                    Hint: Gjemt noen "tokens" rundt i ståles leilighet
                </pre>
                <form action={{ url_for('render_afk')}} method="post">
                    Token: <input type="text" name="token"><input type="hidden" name="challenge" value="1"><input type="submit" value="Submit">
                </form>
            </div>

            <div class="bs-example">
                <h3>Hidden in plain sight 2</h3>
                <pre>
                    Hint: De er rundt omkring
                </pre>
                <form action={{ url_for('render_afk')}} method="post">
                    Token: <input type="text" name="token"><input type="hidden" name="challenge" value="2"><input type="submit" value="Submit">
                </form>
            </div>

            <div class="bs-example">
                <h3>Hidden in plain sight 3</h3>
                <pre>
                    Hint: Men ikke på rom hvor man sover
                </pre>
                <form action={{ url_for('render_afk')}} method="post">
                    Token: <input type="text" name="token"><input type="hidden" name="challenge" value="3"><input type="submit" value="Submit">
                </form>
            </div>
            
        </div>

</div>
{% endblock %}
