{% extends "layout.html" %}
{% block content%}
<div class="col1">
    <div class="bs-example">
        <div id='crypto'>

            <div class="bs-example">
                <h3>Effective encryption... if you lived 2056 years ago</h3>
                <pre>
                ZCFSA WDGIA RCZCF GWH OASH, QCBGSQHSHIF ORWDWGWQWBU SZWH, GSR RC SWIGACR HSADCF WBQWRWRIBH IH ZOPCFS SH RCZCFS AOUBO OZWEIO. IH SBWA OR AWBWA JSBWOA, EIWG HCYSB WG WUXEIHSCRQ BCGHFIR SLSFQWHOHWCB IZZOAQC ZOPCFWG BWGW IH OZWEIWD SL SO QCAACRC QCBGSEIOH. RIWG OIHS WFIFS RCZCF WB FSDFSVSBRSFWH WB JCZIDHOHS JSZWH SGGS QWZZIA RCZCFS SI TIUWOH BIZZO DOFWOHIF. SLQSDHSIF GWBH CQQOSQOH QIDWROHOH BCB DFCWRSBH, GIBH WB QIZDO EIW CTTWQWO RSGSFIBH ACZZWH OBWA WR SGH ZOPCFIA.
                </pre>
                <form action={{ url_for('render_crypto')}} method="post">
                    Token: <input type="text" name="token"><input type="hidden" name="challenge" value="0"><input type="submit" value="Submit">
                </form>
            </div>
        </div>

</div>
{% endblock %}
