{% extends "layout.html" %}
{% block content %}

        <div class="row" style="margin-top: 50px;">
            <div class="grid-fourth"><h1>Scaling issues</h1></div>
            <h3>This challenge gives 150 for each of the of the divisions, ex: if you are #1 at both speed and size, you'll get 150 x 2 = 300 points</h3>
            <div class="grid-three-fourths">
                <button id="submitButton" class="btn" style="margin-top: 16px">
                    Show Submit form
                </button>
                <form id="submitform" action={{ url_for('render_programming')}} method="post" enctype=multipart/form-data>
                    <textarea id="submitData">
                    </textarea>
                    <div class="row">
                        <div class="grid-fourth"><button id="senddata" class="btn">Submit entry</button></div>
                        <div id="submitText" class="grid-three-fourths">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div>Consider this array/list/matrix whatever</div>
        <pre class="line-numbers"><code class="language-c">
            int a[3][3] = 
            { 
                {0, 1, 2}, 
                {1, 2, 3}, 
                {2, 3, 4}
            };
        </code></pre>
        <div>Let's say we wanted to scale it in both X and Y, just ending up with something that has a litte bit more resolution</div>
        <div>and let's say that the factor in wich we will scale will be the <code>int scale_factor = 2;</code> in this case.</div>
        <div>So we would end up with something like this</div>
        <pre class="line-numbers"><code class="language-c">
            {
                {0, 0, 1, 1, 2, 2},
                {0, 0, 1, 1, 2, 2},
                {1, 1, 2, 2, 3, 3},
                {1, 1, 2, 2, 3, 3},
                {2, 2, 3, 3, 4, 4},
                {2, 2, 3, 3, 4, 4},
            };
        </code></pre>
        
        <h3>The challenge: </H3>
        <div>There will be 2 seperate divisions. The fastest and the smallest (in bytes in source not binary)</div>
        <div>Create the fastet and/or smallest program that will accept array/list/matrix from stdin and scale the array/list/matrix acordingly and print out the result</div>
        <div>the format of the stdin will be</div>
        <pre class="line-numbers"><code class="language-c">
            scale_factor \n
            array_widthXarray_length \n
            1 2 4 \n
            2 3 4 \n
            5 6 7 \n
        </code></pre>
        <h3>Example.</h3>
        <pre class="line-numbers"><code class="language-c">
            2
            3X3
            1 2 4
            2 3 4
            5 6 7
        </code></pre>
        <div>
            <h5>Rules:</h5>
            <div><strong>1. You don't have access to libs!</strong></div>
            <div><strong>2. Trying to do something malicious will get you a nice disc.</strong></div>
            <div><strong>3. I take no responsibility of your sudden lack of productiveness</strong></div>
            <div><strong>3.1 I take no responsibility for anything else</strong></div>
        </div>
        </section>
        </main>
        <script src="{{ url_for('static', filename='prism.js') }}"></script>
        <script src="{{ url_for('static', filename='kraken/dist/js/main.js') }}"></script>
{% endblock %}
