<!DOCTYPE html>
<html>
    <head>
        <title>fu-title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='kraken/dist/css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='prism.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">

        <script src="{{ url_for('static', filename='kraken/dist/js/detects.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-2.1.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='query.leanModal.min.js') }}"></script>
        <script src="{{ url_for('static', filename='common.js') }}"></script>
        <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300' rel='stylesheet' type='text/css'>

    </head>
    <body class="js" style="zoom: 0.75">
        <main id="#main">
            <section class="bg-muted-dark" style="background-color: #000; padding: 25px;">
                <nav class="container">
                    <a class="leadertext" href={{ url_for('render_main') }}><i class="fa fa-home"></i>Home</a> | 
                    <a class="leadertext" style="text-align: right" href={{ url_for('logout') }}><i class="fa fa-sign-out"></i>logout</a> |
                </nav>
            </section>
                <div id="header" class="header grid-full">
                    <div class="headertext">
                        <h1>The not so anual ifi hacking compo</h1>
                        <h3>{{ username }}</h3>
                    </div>
                </div>
                <div id="colour" class="grid-full" style="background-color: #499CCD; padding: 25px; margin-bottom: 145px">
                </div>
            <section class="container" style="margin-top: 345px;">
                {% block content %}{% endblock %}
            </section>
        </main>
            <footer data-sticky-footer class="bg-muted padding-top padding-bottom">
                    {% block footer%}
                    {% endblock %}
                <article class="container">
                    <p class="text-small text-muted margin-bottom-small">Blahg blah footer lalal</p>
                    <p class="text-small text-muted">Btw, all css er stj&aring;let og alle oppgavene er stj&aring;let</p>
                </article>
            </footer>
        </body>
</html>
