{% extends "layout.html" %}
{% block content %}
<style type="text/css">
    .gimmesomemargin{
        margin-top: 50px;
        vertical-align: middle;
}
</style>

<div class="grid-half float-center">
    <div class="gimmesomemargin">
        <h4>Login / or create an account, can use whatever you want but if you use an email, <span style="text-decoration: line-through">you can recover password</span></h4>
        <form action="{{ url_for('login') }}" method="post" class="login">
            <label>Username:</label>
            <input type="text" name="username" />
            <label>Password:</label>
            <input type="password" name="password"  />
            <input type="submit" value="Submit" name="submit" class="submit btn" />
        </form>
    </div>
</div>
{% endblock %}
