{% extends "layout.html" %}
{% block content%}
    <div><h3>Categories:</h3></div>
    <div class="row">
        <div class="categories grid-full fa-4x">
            <a class="category final" href="{{ url_for('render_afk') }}">
                <div id="icon" class="fa fa-beer"></div>
                <div class="title web">A F K</div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="categories grid-third fa-4x">
            <a class="category" href="{{ url_for('render_reverse') }}">
                <div id="icon" class="fa fa-cogs"></div>
                <div style="font-size: 28px;" class="title web">Reverse Engineering</div>
            </a>

            <a class="category" href="{{ url_for('render_crypto') }}">
                <div id="icon" class="fa fa-chain"></div>
                <div class="title web">Crypto</div>
            </a>

            <a class="category" href="{{ url_for('render_web') }}">
                <div id="icon" class="fa fa-globe"></div>
                <div class="title web">Web</div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="categories grid-half fa-4x">
            <a style ="margin-top: 25px;" class="category final" href="{{ url_for('render_programming') }}">
                <div id="icon" class="fa fa-code"></div>
                <div class="title web">Programming</div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="grid-full highscore">
            <div id="highscore">
                <h3>Standings:</h3>
                <table>
                    <tbody>
                {% for entry in entries %}
                        <tr>
                            <td>1</td>
                            <td>{{ entry['email'] }}</td>
                            <td>{{ entry['score'] }}</td>
                            <td>Sun 21:34</td>
                        </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   



{% endblock %}

