{% extends "layout.html" %}
{% block content%}
<div class="col1">


    <div class="bs-example">
        <h3>Little intro  (45 pts)</h3>
        <div id='crypto'>
            <pre>
                <div>A little reverse enginering intro</div>
                <a href="http://axels.no/xeneta/crypto/01-main">Link to challenge binaries</a>
                <form action={{ url_for('render_reverse')}} method="post">
                    Token: <input type="text" name="token"><input type="hidden" name="challenge" value="0"><input type="submit" value="Submit">
                </form>
            </pre>
            <!--<a href="{{ url_for('render_crypto') }}"><button type="button" class="btn btn-primary btn-lg btn-block">Challenge One</button></a> -->
        </div>
    </div>

    <div class="bs-example">
        <h3>A little harder? maby? (90 pts)</h3>
        <div id='crypto'>
            <pre>
                <div>A little reverse enginering intro</div>
                <a href="http://axels.no/xeneta/crypto/02-main">Link to challenge binaries</a>
                <form action={{ url_for('render_reverse')}} method="post">
                    Token: <input type="text" name="token"><input type="hidden" name="challenge" value="1"><input type="submit" value="Submit">
                </form>
            </pre>
            <!--<a href="{{ url_for('render_crypto') }}"><button type="button" class="btn btn-primary btn-lg btn-block">Challenge One</button></a> -->
        </div>
    </div>
    <div class="bs-example">
        <h3>Hard enough for ya? PUNK! (200 pts)</h3>
        <div id='crypto'>
            <pre>
                <div>This one gets a little harder than the other</div>
                <a href="http://axels.no/xeneta/crypto/03-main">Link to challenge binaries</a>
                <form action={{ url_for('render_reverse')}} method="post">
                    Token: <input type="text" name="token"><input type="hidden" name="challenge" value="1"><input type="submit" value="Submit">
                </form>
            </pre>
            <!--<a href="{{ url_for('render_crypto') }}"><button type="button" class="btn btn-primary btn-lg btn-block">Challenge One</button></a> -->
        </div>
    </div>

</div>
{% endblock %}

